<form class="sheet item-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{item.name}}" /></h1>
  </header>

  <section class="sheet-body">
    <h2>Details</h2>
    <div>
      <label>Description:</label>
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
    <div>
      <label>Weight:</label>
      <input type="text" name="system.weight" value="{{system.weight}}" />
    </div>
  </section>
</form>